<main role="main" class="container h-full mx-auto">
  <p class="alert alert-info fixed z-40 w-full top-0 text-center text-lg" role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="info"><%= live_flash(@flash, :info) %></p>

  <p class="fixed z-40 w-full alert alert-danger" role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="error"><%= live_flash(@flash, :error) %></p>

  <%= @inner_content %>
</main>
