<div class="text-xl font-medium">Bar Dashboard</div>

<div class="flex flex-col">
  <%= for table <- @tables do %>
    <div class="m-2 p-2 rounded-lg bg-blue-400 text-lg text-center"><%= table.number %></div>
  <% end %>
</div>
